/* Comentario */

/* ---------------- Reset ----------------*/

*{
    /* Propiedad para el expacio externo */
    margin: 0;
    /* Propiedad para el espacio interno */
    padding: 0;

    box-sizing: border-box;
}

/* ---------------- GENERAL ----------------*/

h3{
    color: #98C1D9;
    font-size: 30px;
}

body{
    background-color:#293241;
    font-family: 'Oswald', sans-serif;
}

/* -------------------------------- Name & Desc --------------------------------*/

h1{
    color:#EE6C4D;
    text-align: center;
    font-size: 60px;
}

h2{
    color: #E0FBFC;
    text-align: center;
    font-size: 35px;
}

#homeName{
    margin-top: 200px;
}

#homeDesc{
    margin-bottom: 350px;
}

/* -------------------------------- HEADER -------------------------------- */

header {
    position: sticky;
    top: 0;
}

header div div {
    text-align: center;
}

header div div a{
    list-style: none;
    font-size: 30px;
    color: #98C1D9;
    text-decoration: none;
}

#menuSelection{
    background-color:#293241;
    width: 100px;
    height: 50px;
    margin: 18px;
}

#menuGroup{
    background-color: #293241;

    /* Propiedad de flex */
    display: flex;
    justify-content: space-evenly;
}

/* ---------------- MAIN ---------------- */

main a{
    text-decoration: none;
    
}

main p{
    color: #E0FBFC;
    font-size: 20px;
}

main form div label{
    font-size: 35px;
}

/* ---------------- FOOTER  ----------------*/

footer{
    background-color: #EE6C4D;
}

/* ---------------- SocialMedia MainPage  ----------------*/

#socialMediaGroup {
    background-color: #EE6C4D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#socialMediaHome{
    margin-right: 50px;
    margin-left: 50px;
}

/* ------------------- GAMES & PROJECTS SECTION ------------------- */

#homeGames{
    background-color: #293241;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#homeGameCards{
    background-color: #293241;
    padding: 20px;
}

#homeGameTitle{
    text-align: center;
    font-size: 40px;
}
           
/* ---------------------------------------------------------------- */

#copyright{
    color:#293241;
    font-size: 20px;
    text-align: center;
}

.subtitle{
    color: #98C1D9;
    font-size: 60px;
    padding: 60px;
}

/* ID */

